.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .image-side {
    width: 50%;
  }
  
  .image-side img {
    width: 100%;
    height: auto; 
  }
  
  .text-side {
    width: 50%; 
    padding: 20px; 
  }
  
  .text-side h1 {
    font-size: 2rem;
  }
  
  .text-side p {
    font-size: 1rem; 
  }
  
  .view-portfolio-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; 
    color: #fff; 
    text-decoration: none;
<<<<<<< HEAD
=======
    /* Add any additional styles for the button */
  }

  .kneegif1{
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  
    
  }
  
  .kneegif2{
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
>>>>>>> f7698ca29d898fdcc7045b80e9bfcd306bcdc7a3
  }