.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  background-color: aliceblue;
}

.App-header {
  background-color: rgb(18, 18, 123);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 3vh;
  font-weight: bolder;
}

.App-header title {
  background-color: rgb(18, 18, 123);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  padding: 3vh;
  font-weight: bolder;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
